<div class="qualification-list-headlines">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="designationInput" #designationInput placeholder="Designation...">
    </div>
    <div class="btn-qualification-create">
      <button type="submit" class="btn btn-employee btn-outline-dark " (click)="createQualification(designationInput.value);">
        Create Qualification
      </button>
    </div>
  </form>
</div>



