.employee-list-container {
  padding: 16px 0;
}

.employee-list-headline {
  padding: 32px 0 0 0;
}
.container {
  padding: 0;
}

.employee-list-item {
  font-weight: bold;
}

.btn-employee {
  padding: 5px 15px;
  text-decoration: none;
  border-color: #333333;
}
.btn-employee a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0 10px;
}
.employee-list-headlines {
  padding: 0 24px;
}


