.qualification-list-container {
  padding: 32px 0;
}
.btn-details a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 10px;
}
.container {
  padding: 0;
}

.qualification-list-item {
  font-weight: bold;
}
.qualification-list-headlines {
  padding: 0 24px;
}

