<div class="col-md-8 col-12 p-3">
  <form>
    <div class="form-group">
      <label for="firstNameInput">First Name</label>
      <input type="text" class="form-control" id="firstNameInput" #firstNameInput placeholder="Firstname...">
    </div>
    <div class="form-group">
      <label for="lastNameInput">Last Name</label>
      <input type="text" class="form-control" id="lastNameInput" #lastNameInput placeholder="Lastname...">
    </div>
    <div class="form-group">
      <label for="streetInput">Street</label>
      <input type="text" class="form-control" id="streetInput" #streetInput placeholder="Street...">
    </div>
    <div class="form-group">
      <label for="postcodeInput">Postcode</label>
      <input type="text" class="form-control" id="postcodeInput" #postcodeInput placeholder="Postcode...">
    </div>
    <div class="form-group">
      <label for="cityInput">City</label>
      <input type="text" class="form-control" id="cityInput" #cityInput placeholder="City...">
    </div>
    <div class="form-group">
      <label for="phoneInput">Phone</label>
      <input type="text" class="form-control" id="phoneInput" #phoneInput placeholder="Phone Number...">
    </div>
    <div class="create-employee-buttons">
      <button type="submit" class="btn btn-employee btn-outline-dark" (click)="create(
      firstNameInput.value,
      lastNameInput.value,
      streetInput.value,
      postcodeInput.value,
      cityInput.value,
      phoneInput.value);">Create</button>
      <button class="btn btn-employee btn-outline-dark" routerLink="/employee-list">
        Back
      </button>
    </div>
  </form>
</div>



