.navbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #161616;
}
.nav{
  display: flex;
  flex-direction: row;
}
.nav-link{
  color: #f3f3f3;
}
.nav-link.active{
  background-color: #333333;
  color: #f3f3f3;
}
@media (min-width: 768px) {
  .navbar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
  }
  .nav{
    flex-direction: column;
  }
}
