.main-headline {
  padding: 16px 0;
  display: flex;
  background-color: #161616;
  color: white;
  justify-content: center;
}

@media (min-width: 768px) {
  .main-body{
    margin-left: 100px;
  }
}
