<div>
  <div class="column">
    <app-navigation></app-navigation>
    <div class="flex-column main-body">
      <h1 class="main-headline">Employee Service Tool</h1>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



