<div class="col-md-8 col-12">
  <div class="p-2">
    <h2>Update Employee</h2>
    <form *ngIf="employee">
      <div class="form-group">
        <label for="firstNameInput">Firstname</label>
        <input type="text" class="form-control" id="firstNameInput" #firstNameInput [defaultValue]="employee.firstName">
      </div>
      <div class="form-group">
        <label for="lastNameInput">Lastname</label>
        <input type="text" class="form-control" id="lastNameInput" #lastNameInput [defaultValue]="employee.lastName">
      </div>
      <div class="form-group">
        <label for="streetInput">Street</label>
        <input type="text" class="form-control" id="streetInput" #streetInput [defaultValue]="employee.street">
      </div>
      <div class="form-group">
        <label for="postcodeInput">Postcode</label>
        <input type="text" class="form-control" id="postcodeInput" #postcodeInput [defaultValue]="employee.postcode">
      </div>
      <div class="form-group">
        <label for="cityInput">City</label>
        <input type="text" class="form-control" id="cityInput" #cityInput [defaultValue]="employee.city">
      </div>
      <div class="form-group">
        <label for="phoneInput">Phone</label>
        <input type="text" class="form-control" id="phoneInput" #phoneInput [defaultValue]="employee.phone">
      </div>
      <div class="update-employee-buttons">
        <button class="btn btn-employee btn-outline-dark btn-space" (click)="update(
      employee.id,
      firstNameInput.value,
      lastNameInput.value,
      streetInput.value,
      postcodeInput.value,
      cityInput.value,
      phoneInput.value)">
          Update
        </button>
        <div class="create-employee-back-btn">
          <button class="btn btn-employee btn-outline-dark" routerLink="/employee-list">Back</button>
        </div>
      </div>
    </form>
  </div>


  <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Current Qualifications</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <ng-container>
    <tr *ngFor="let skill of (employeeQualification$ | async)?.skillSet">
      <td class="qualification-list-item">{{skill.designation}}</td>
      <td>
        <button class="btn btn-details btn-outline-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" (click)="deleteQualification(skill.designation)">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
      </td>
    </tr>
  </ng-container>
  </tbody>
  </table>

  <h2 class="p-2">Select qualification to add</h2>

  <!--Versuch eines Dropdowns, bis ich festgestellt habe, dass wir SCSS bräuchten für Material Design-->
  <!--<div style="padding: 10px">
    <mat-form-field appearance="fill">
      <mat-label>add qualification</mat-label>
      <mat-select [formControl]="selectedValue" multiple>
        <mat-option *ngFor="let q of qualifications$ | async" [value]="q.designation">
          {{ q.designation }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p><b>Selected group elements : {{ selectedValue }}</b></p>

  </div>-->
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Designation</th>
      <th scope="col">Add</th>
    </tr>
    </thead>
    <tbody>
    <ng-container>
      <tr *ngFor="let q of qualifications$ | async">
        <td class="qualification-list-item">{{q.designation}}</td>
        <td>
          <button class="btn btn-details btn-outline-secondary" (click)="addQualification(q.designation)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>



