<div class="employee-details-container">
  <h2 class="employee-details-headline">Employee-Details</h2>
  <table class="table table-striped">
    <tbody>
      <tr *ngIf="employee">
        <th>Id</th>
        <td class="table-item">{{employee.id}}</td>
      </tr>
      <tr *ngIf="employee">
        <th>First Name</th>
        <td class="table-item">{{employee.firstName}}</td>
      </tr>
      <tr *ngIf="employee">
        <th>Last Name</th>
        <td class="table-item">{{employee.lastName}}</td>
      </tr>
      <tr *ngIf="employee">
        <th>Postcode</th>
        <td class="table-item">{{employee.postcode}}</td>
      </tr>
      <tr *ngIf="employee">
        <th>Street</th>
        <td class="table-item">{{employee.street}}</td>
      </tr>
      <tr *ngIf="employee">
        <th>City</th>
        <td class="table-item">{{employee.city}}</td>
      </tr>
      <tr *ngIf="employee">
        <th>Phone</th>
        <td class="table-item">{{employee.phone}}</td>
      </tr>
    </tbody>
  </table>

  <h2>Qualifications</h2>
    <ul *ngFor="let skill of (employeeQualification$ | async)?.skillSet">
      <li>{{skill.designation}}</li>
    </ul>

  <button class="btn btn-employee btn-outline-dark" (click)="goBack()">Back</button>
</div>
