.employee-details-container {
  padding: 16px;
}
table {
  width: 50%;
}
table, th, td {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

.employee-details-headline {
  padding: 12px 0;
}


