<div class="login p-5">
  <h3>E-Mail:</h3>
    <input type="text" id="loginUsername" #loginUsername>
  <h3>Password:</h3>
    <input type="password" id="loginPassword" #loginPassword>
  <div class="login-btn">
    <button class="btn btn-employee btn-outline-dark" type="submit" (click)="login(loginUsername.value, loginPassword.value)">Login</button>
  </div>
</div>

